.filter {
    z-index: 2;
    background-color: #f9f1e7;
    visibility: hidden;
    display: none;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
    padding-top: 30px;
    &-visible {
      visibility: visible;
      display: block;
    }
    &-wrapper {
      width: 84%;
      margin: 0 auto;
      padding-bottom: 30px;
      display: flex;
      gap: 20px;
      align-items: center;
      flex-wrap: wrap;
    }
    .react-select {
      width: 210px;
      z-index: 2;
    }
    .select-price{
      width: 100px;
      outline: none;
      border:1px solid hsl(0, 0%, 80%);
  padding: 8px;
  border-radius: 5px;
  height: 39px;
    }
    .new-filter{
      display: flex;
      align-items: center;
      gap:2px;
    }
  }

  @media only screen and (max-width:800px) and (min-width:700px){
    .react-select{
      width: 150px !important;
    }
  }

  @media only screen and (max-width:525px){
    .react-select{
      width: 320px !important;
    }
  }
