* {
    .nav {
        position: fixed;
        background-color: white;
        width: 100%;
        z-index: 4;
        .nav-container {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 20px;
            &_logo {
                display: flex;
                align-items: center;
                gap: 5px;
                span {
                    font-family: "Montserrat", sans-serif;
                    font-size: 34px;
                    font-weight: 700;
                }
            }
            &_links {
                ul {
                    display: flex;
                    list-style: none;
                    gap: 60px;
                    li {
                        font-size: 16px;
                        font-weight: 500;
                        font-family: "Poppins", sans-serif;
                        a {
                            color: black;
                            text-decoration: none;
                            &.active {
                                color: #b88e2f !important;
                            }
                        }
                        
                    }
                }
            }
            .active {
                color: #b88e2f !important;
            }
            &_icons {
                ul {
                    display: flex;
                    list-style: none;
                    gap: 40px;
                    cursor: pointer;
                    align-items: center;
                    img {
                        width: 28px;
                        height: 28px;
                    }
                    .fa-user{
                        font-size: 22px;
                        color: #393939;
                    }
                    .basket_wishlist {
                        position: relative;
                        &-count {
                            display: inline-block;
                            width: 18px;
                            height: 18px;
                            border-radius: 50%;
                            background-color: #b88e2f;
                            position: absolute;
                            left: 15px;
                            top: 12px;
                            color: white;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 12px;
                        }
                    }
                }
            }
            .active {
                color: #b88e2f;
            }
            .hamburger-icon {
                display: none;
                cursor: pointer;
            }
            .menu {
                width: 35%;
                height: 100vh;
                background-color: rgba(255, 243, 227, 1);
                position: absolute;
                right: 0;
                top: 0;
                opacity: 0;
                transition:
                    opacity 0.5s ease-in-out,
                    visibility 0.8s ease-in;
                visibility: hidden;
                .fa-x {
                    color: black;
                    position: absolute;
                    right: 30px;
                    top: 30px;
                    cursor: pointer;
                }
                .links {
                    padding-top: 80px;
                    a .active {
                        color: #b88e2f;
                    }
                }
                .icons {
                    padding-top: 30px;
                }
                ul {
                    padding-left: 30px;
                    list-style: none;
                    font-family: "Poppins", sans-serif;
                    font-size: 16px;
                    .active {
                        color: #b88e2f;
                    }
                    li {
                        padding-bottom: 20px;
                        a {
                            color: black;
                            text-decoration: none;
                            & .active {
                                color: #b88e2f;
                            }
                            img {
                                width: 28px;
                                height: 28px;
                                color: white;
                            }
                        }
                    }
                }
            }
            .visible-menu {
                visibility: visible;
                opacity: 1;
                transition: 0.5s ease-in;
                width: 50%;
                margin: 0 auto;
                z-index: 9999;
            }
        }
       
    }
}
@media only screen and (max-width: 768px) {
    .nav-container {
        &_links {
            display: none;
        }
        &_icons {
            display: none;
        }
        .hamburger-icon {
            display: inherit !important;
        }
    }
}

@media only screen and (max-width: 576px) {
    .nav-container {
        .menu {
            .icons {
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .nav-container {
        &_links {
            ul {
                display: flex;
                gap: 20px !important;
                a {
                    font-size: 14px;
                }
            }
        }
        &_icons {
            img {
                width: 20px !important;
                height: 20px !important;
            }
            .basket_wishlist {
                position: relative;
                &-count {
                    display: inline-block;
                    border-radius: 50%;
                    background-color: #b88e2f;
                    position: absolute;
                    left: 10px !important;
                    top: 10px !important;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                }
            }
        }
    }
}
